.square {
  position: relative;
  display:table-cell;
  left: 30px;
  top: 100px;
  width: 300px;
  height: 50px;
  background: rgba(0, 0, 255, 0.5);
  margin: 10px;
  text-align: center;
  vertical-align: middle;
  border-radius: 20px;
}

ion-content {
  --background: none;
  --background: url('/assets/logo.png') no-repeat center center fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}